


<ul class="list-group" *ngIf="todosArr.length > 0; else noTodos">
    <li *ngFor="let todo of todosArr"
     class="list-group-item d-flex justify-content-between">
        <strong>{{todo.todoItem}}</strong>

        <div>
            <button (click)="onTodoEdit(todo)"
             class="me-2" mat-mini-fab color="primary">
                <mat-icon>edit</mat-icon>
            </button>

            <button (click)="onRemove(todo.todoId)"
            mat-mini-fab color="warn">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </li>
</ul>

<ng-template #noTodos>
    <p class="alert alert-info">
        No todo add yet !!
    </p>
</ng-template>




